.response-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: $font-family-secondary;
  text-align: center;
  height: 40rem;
}

.response-container {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: $font-size-title * 1.2;
}
.fade-leave-active {
  position: absolute;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
